<%- include('partials/header'); -%>

<h1 class="text-center">Welcome To Admin Panel</h1>


<div  class="d-grid gap-4 col-6 mx-auto mt-5">
  <a  href="/changehomecontent" class="btn btn-primary admin-panel-button" type="button">Change Home Content</a>
  <a  href="/changeaboutus" class="btn btn-primary admin-panel-button" type="button">Change About Us Content</a>
  <a  href="/compose" class="btn btn-success admin-panel-button" type="button"> Create Post </a>
  <a  href="/deletecategoryselect" class="btn btn-danger admin-panel-button" type="button">Delete Post</a>
</div>


<%- include('partials/footer'); -%>
