<%- include('partials/header'); -%>

<h1 class="text-center">Welcome To Admin Panel</h1>


<div  class="d-grid gap-4 col-6 mx-auto mt-5">
  <a  href="/6usggun3ZNN1Gd3TyQvJcC8O25OKEEff9zVzNmjchangehomecontentJbuptxKJJbuptxKJ" class="btn btn-primary admin-panel-button" type="button">Change Home Content</a>
  <a  href="/rRgbcAeBO8SNBwyz53G6CsHoyjuTp6wuyfouCNchangeaboutusVcXc9O7X3JRUkI9RtfLD1gU" class="btn btn-primary admin-panel-button" type="button">Change About Us Content</a>
  <a  href="/IwAR32a0SgMkjYQRu9EAfgulJbuptxKJxEAWvw95TQ8gKEgnfsPsTWGrrjop8composeIwAR32a0SgMkjYQRu9EAfgulJbuptxKJxEAWvw95TQ8gKEgnfsPsTWGrrjop8" class="btn btn-success admin-panel-button" type="button"> Create Post </a>
  <a  href="/B79F7HZbd0j24vqcUiS68xVLOJlCixT33M2YchS0ellvHDoJZirxFJ89qdeletecategoryselectB79F7HZbd0j24vqcUiS" class="btn btn-danger admin-panel-button" type="button">Delete Post</a>
</div>


<%- include('partials/footer'); -%>
