<%- include('partials/header'); -%>

<h1 class="text-center">Change The ABOUT US Content</h1>

<form action="/rRgbcAeBO8SNBwyz53G6CsHoyjuTp6wuyfouCNchangeaboutusVcXc9O7X3JRUkI9RtfLD1gU" method="post">
<div class="form-group">
   <label for="newcontent">New Content</label>
   <textarea class="form-control mt-3 change-content-size" rows="5" name="newAboutusText" required></textarea>
 </div>
 <button type="submit" class="btn btn-primary mt-3">Publish</button>
</form>


<%- include('partials/footer'); -%>
