<%- include('partials/header'); -%>

<h1 class="text-center">Change The Home Content</h1>

<form action="/6usggun3ZNN1Gd3TyQvJcC8O25OKEEff9zVzNmjchangehomecontentJbuptxKJJbuptxKJ" method="post">
<div class="form-group">
   <label for="newcontent">New Content</label>
   <textarea class="form-control mt-3 change-content-size" rows="5" name="newHomeText" required></textarea>
 </div>
 <button type="submit" class="btn btn-primary mt-3">Publish</button>
</form>


<%- include('partials/footer'); -%>
