<%- include('partials/header'); -%>


<div class="text-center sign-in-body">
  <form class="form-signin" action="/login" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <!-- <label for="Username" class="sr-only mt-1">Username</label> -->
    <input type="text" id="Username" class="form-control" name="username" placeholder="Username" required autofocus>
    <!-- <label for="inputPassword" class="sr-only mt-1">Password</label> -->
    <input type="password" id="inputPassword" name="password" class="form-control mt-3" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; Joy Karmoker 2021</p>
  </form>
</div>


<%- include('partials/footer') -%>
